@import '~bootstrap/scss/bootstrap';

$accent-border-color: solid red;
$text-color: cyan;
$api-colors: white;

body {
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: 30%;
    margin: auto;
}

h1 {
    &#gameTitle {
   text-align: center;
   margin: 50px 0 75px 0;
   color: $text-color;
    }

    &#welcome {
    text-align: center;
    margin: 50px 0 75px 0;
    color: $text-color;
   }
}

p {
    color: $api-colors;
    text-align: center;
}


.container {
    height: 100vh;
}

.board {
    margin: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vh - 75px);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    color: white;
    
    // selects all the 3rd children
    &:nth-child(3n) {
        border-right: 0;
    }
    
    &:nth-last-child(-n+3) {
        border-bottom: 0;
    }

    // vh = vertical height
    min-height: calc(100% / 3);
    font-size: 15vh;

    &:hover {
        background-image: url('https://www.artiestick.com/toons/alphabet/ralph/arg-x-50-trans.gif');
        background-size: cover;
        background-position: center;
      }

      // makes it so the user can't select the text in the background
      user-select: none;

}

.box2 {
    background-image: url('https://www.artiestick.com/gifs/arg-o-5O-tr.gif');
    background-size: cover;
    background-position: center;
    user-select: none;
}


.border {
    border: 3px $accent-border-color;
    margin: 20px;
    padding: 20px;
}

.row {
    justify-content: center;
    text-align: center;
}

#sign-up {
    color: $api-colors;
}

#sign-in {
    color: $api-colors;
}

#sign-out {
    text-align: center;
}

#change-password {
    color: $api-colors;
}

#new-game {
    text-align: center;
}