@import '~bootstrap/scss/bootstrap';

$accent-border-color: solid red;
$text-color: cyan;
$api-colors: white;

body {
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: 30%;
    margin: auto;
}

.container {
    height: 100vh;
}

.board {
    margin: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vh - 75px);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
  
    &:nth-child(3n) {
        border-right: 0;
    }
  
    &:nth-last-child(-n+3) {
        border-bottom: 0;
    }

    min-height: calc(100% / 3);
    font-size: 15vh;

    &:hover {
        background-color: red;
      }
}

p {
    color: $api-colors;
}

#sign-up {
    color: $api-colors;
}

#sign-in {
    color: $api-colors;
}

#change-password {
    color: $api-colors;
}

.border {
    border: 3px $accent-border-color;
    margin: 20px;
    padding: 20px;
}

h1 {
   text-align: center;
   margin: 50px 0 75px 0;
   color: $text-color;
}

.row {
    justify-content: center;
    text-align: center;
}


#sign-out {
    border-radius: 8px;
    display: flex;
}